<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">

<h1>Всем привет!<br><img src="{{profile_image}}" width="600"><br>Меня зовут {{user_name}}!</h1>
<h2>Моя порода - <a href="https://lapkins.ru/cat/shotlandskaya-pryamoukhaya-koshka/">шотландская прямоухая</a></h2>
<div>
    <p>Родилась я в Томске, но живу в Горно-Алтайске.</p>
    <p style="color: red">На этой странице <em>я буду публиковать</em> свои
        <del>стихи</del>
        коды на <i>Pyhon</i>!
    </p>
    <p style="color: blue">
        <mark>Держитесь крепче</mark>
        , будет очень <strong>интересно</strong>!
    </p>
</div>
</body>

</html>